.navbar {
    background-color: #333; 
    padding: 15px 20px; 
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    color: white; 
}


.logo{
    display: flex; 
    align-items: center;
}

img {
    height: 40px; 
    width: 40px;
    margin-right: 10px; 
}
h1{
    font-size: 20px;
    padding: 5px;
}
.nav-link{
display: flex;
flex-direction: row;
justify-content: space-around;
width: 30%;
}